<html>
  <head></head>
   <body>
     <h1> Star Formation Parameter Finder </h1>
	<ul>
		<li>Select Which Simulation Model to View Plots For! </li>
	</ul>
	  <p1 align="center"><a href=u301><button class=grey
	   style="height:75px;width:125px;font-size:20px" >u301 Simulation</button></a></p1>
   	  
	  <p2 align="center"><a href=u302><button class=grey
	   style="height:75px;width:125px;font-size:20px">u302 Simulation</button></a></p2>

   	  <p3 align"center"><a href=u303><button class=grey
	   style="height:75px;width:125px;font-size:20px">u303 Simulation</button></a></p3>
   </body>
</html>
