<html>
  <head></head>
   <body>
     <h1> Welcome to ......... </h1>
	<ul>
		<li>Select Which Simulation Model to View Plots For! </li>
	</ul>
	<form method="POST" action="/sim">
		<fieldset class="set">
			<legend> Select Simulation </legend>
				<input type="radio" id="sim_select" name="sim" value="1">
				<label class="fmt" for="sim"> Simulation 1 </label>
				<input type="radio" id="sim_select" name="sim" value="2">
				<label class="fmt" for="sim"> Simulation 2 </label>	
				<input type="radio" id="sim_select" name="sim" value="3">
				<label class="fmt" for="sim"> Simulation 3 </label>
				
				<input type="submit">
		</fieldset>
	</form>
	
   </body>
</html>
