<form method="POST" action="/table">
	<label for="sim"> Simulation Number</label>
	<input type = "number" name="sim">
	<label for "core"> Core Numbers </label>
	<input type="text" name="cores">
	Blow Hair <input type="checkbox" value="blowing_hair" name="mycheckbox">
	Density time <input type="checkbox" value="densitytime" name="mycheckbox">
	B vs rho v t  <input type="checkbox" value="B_vs_rho_vs_time" name="mycheckbox">
	Binding energy <input type="checkbox" value="binding_energy" name="mycheckbox">
	Density time hair <input type="checkbox" value="density_time_hair" name="mycheckbox">
	mountain_tops <input type="checkbox" value="mountain_tops" name="mycheckbox">
	Other ones <input type="checkbox" value="other_ones" name="mycheckbox">
	Velocity hair <input type="checkbox" value="velocity_hair" name="mycheckbox">
	Velocity heat <input type="checkbox" value="velocity_heat" name="mycheckbox">
	VR_VT <input type="checkbox" value="vr_vt" name="mycheckbox">

	<input type="submit">
</form>
<p> If a desired core does not exist, an 'X'  will show within the table </p>


