<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> U301 </title>

        <script src="/static/Good/browser/sorttable.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script> 
            function set_image(image_id,fname){
                    this_image =     document.getElementById(image_id)
                    this_image.src = fname;
            }
            </script>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

        <link rel="stylesheet" href="/static/Good/browser/sorttable.css">  
        
    <style>
body {
        background: #ecf0f1;
    color: #2c3e50;
}
.hidden{
    display:none;
}

.unhidden{
    display:block;
}

.customize {
    text-align: center;
}
.parambutton {
    position: relative; left: 20px; top: 15px;
}
.checkbox {
    position: relative; top: 25px;
}

.custom-select span {
    display: center;
    min-width: 180px;
    color: #2c3e50;
    background-color: rgb(158, 157, 157);
    padding: 5px;
    cursor: pointer;
}

#slider-range, #slider-range2 {
  width:300px;
  margin-top:10px;
}
body {
  margin: 15px;
}
#slider-range2.ui-slider-horizontal {
    border: 0 none;
}
#slider-range2.ui-slider-horizontal .ui-slider-range, #slider-range2.ui-slider-horizontal .ui-slider-handle {
    background: url("http://unbug.ru/examples/jquery/slider/slide.png") repeat scroll 0 0 transparent;
}
#slider-range2.ui-slider-horizontal .ui-slider-range {
    background-position: 0 -42px;
    background-repeat: repeat-x;
    height: 21px;
}
#slider-range2.ui-slider-horizontal .ui-slider-handle {
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0 none;
    height: 21px;
    top: 0;
    width: 21px;
}
#slider-range2.ui-slider-horizontal .ui-slider-handle:focus {
    outline: 0 none;
}
#slider-range2.ui-slider-horizontal .ui-slider-handle + .ui-slider-handle {
    background-position: -21px 0;
}

.mass_container {
    position: relative; top: 40px;left: 0px;
}

#slider-range3, #slider-range4 {
  width:300px;
  margin-top:10px;
}
body {
  margin: 15px;
}
#slider-range4.ui-slider-horizontal {
    border: 0 none;
}
#slider-range4.ui-slider-horizontal .ui-slider-range, #slider-range4.ui-slider-horizontal .ui-slider-handle {
    background: url("http://unbug.ru/examples/jquery/slider/slide.png") repeat scroll 0 0 transparent;
}
#slider-range4.ui-slider-horizontal .ui-slider-range {
    background-position: 0 -42px;
    background-repeat: repeat-x;
    height: 21px;
}
#slider-range4.ui-slider-horizontal .ui-slider-handle {
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 0 none;
    height: 21px;
    top: 0;
    width: 21px;
}
#slider-range4.ui-slider-horizontal .ui-slider-handle:focus {
    outline: 0 none;
}
#slider-range4.ui-slider-horizontal .ui-slider-handle + .ui-slider-handle {
    background-position: -21px 0;
}
.density_container {
    position: relative; top:50px;
}

</style>
    
    </head>
    <body> 
        <div class="customize">
            <h1>U301 Table Customizer</h1>
        </div>

        <b> To Customize Table Data, Select Below</b>
        <p> Initially, a full table will appear. You will then be able to filter and remove data as you please!</p>
            <div id="dropdownframe"></div>
            <div class="custom-select">
                <div id="selector" style="position: relative; top: 25px"><span> Select Plots to Remove</span></div>
            </div>
            <div id="main" style="display: none; position: relative; top:50px" border="1">
                <table border="1">
                    <tr>
                        <td align="left" style="width: 190px">
                            <input type="checkbox" name="plot" value="plot1" data-column="4"/> Density_Time
                        </td>
                        <td align="left" style="width: 190px">
                            <input type="checkbox" name="plot" value="plot2" data-column="5"/> Peak_Projection_X_Density
                        </td>
                    </tr>
                    <tr> 
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot3" data-column="6"/> Peak_Split_All_Excluded_Projection_Density_X
                        </td>
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot4" data-column="7"/> Peak_Split_All_Excluded_Projection_Density_Y
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot5" data-column="8"/> Peak_Split_Corestack_Projection_Density_X
                        </td>
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot6" data-column="9"/> Peak_Split_Corestack_Projection_Density_Y
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot7" data-column="10"/> Peak_Split_NewClump_Projection_Density_X
                        </td>
                        <td align="left" style="width:190px">
                            <input type="checkbox" name="plot" value="plot8" data-column="11"/> Peak_Split_NewClump_Projection_Density_Y
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 190px">
                            <input type="checkbox" name="plot" value="plot9" data-column="12"/> Peak_Split_Orig_Projection_Density_X
                        </td>
                        <td align=left" style="width: 190px">
                            <input type="checkbox" name="plot" value="plot10" data-column="13"/> Peak_Split_Orig_Projection_Density_Y
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 190px">
                        <input type="checkbox" name="plot" value="plot11" data-column="14"/> Core_Zoom_Annotate_Projection_X
                        </td>
                    </tr>
                </table>
            </div>
            
            
       <div class="mass_container">
          <p> 
              <label for="amount"> Mass Range: </label>
              <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold"/>
          </p>
          
          <div id="slider-range"></div>
          </div>

        <div class="density_container">
            <p>
                <label for="amount2"> Density Range: </label>
                <input type="text" id="amount2" style="border: 0; color: #f6931f; font-weight: bold"/>
            </p>
            <div id="slider-range3"></div>
        </div>
        <h1 style="position: relative; top: 55px"> Table</h1>
            <table id="query_table" class="sortable" border = "1" style="position: relative; top: 70px">
                <thead>
                    <tr>
                          <th class="Core_ID"> Core ID</th>
                          <th class="Mass"><span class="nowrap">Mass</span></th>
                          <th class="Density"><span class="nowrap">Density</span></th>
                          <th class="Plot1"> <span class="nowrap">Density_Time</span></th>
                          <th class="Plot2"> <span class="nowrap">Projection_X</span></th>
                          <th class="Plot3a"> <span class="nowrap">Peak_Split_All_Projection_X</span></th>
                          <th class="Plot3b"> <span class="nowrap">Peak_Split_All_Projection_Y</span></th>
                          <th class="Plot4a"> <span class="nowrap">Peak_Split_Corestack_Projection_X</span></th>
                          <th class="Plot4b"> <span class="nowrap">Peak_Split_Corestack_Projection_Y</span></th>
                          <th class="Plot5a"> <span class="nowrap">Peak_Split_Newclump_Projection_X</span></th>
                          <th class="Plot5b"> <span class="nowrap">Peak_Split_Newclump_Projection_Y</span></th>
                          <th class="Plot6a"> <span class="nowrap">Peak_Split_Orig_Projection_X</span></th>
                          <th class="Plot6b"> <span class="nowrap">Peak_Split_Orig_Projection_Y</span></th>
                          <th class="Plot7"> <span class="nowrap">Core_Zoom_Annotate_Projection_X</span></th>
                    </tr>
                </thead>
                <tbody>    
                {% for row in total_data %}
                    <tr>
                          <td class="Core_ID ">{{row[0]}}</td>
                          <td class="Mass">{{row[1]}}</td>
                          <td class="Density"> {{row[2]}}</td>    
                          <td class="Plot1"><a href = "/{{row[3]}}"/><img src ="/{{row[3]}}" width = "200" height = "200" ></td>
                          <td class="Plot2"><a href = "/{{row[4]}}"/><img src ="/{{row[4]}}" width = "200" height = "200" ></td>
                          <td class="Plot3a"><a href = "/{{row[5]}}"/><img src ="/{{row[5]}}" width = "200" height = "200" ></td>
                          <td class="Plot3b"><a href = "/{{row[6]}}"/><img src ="/{{row[6]}}" width = "200" height = "200" ></td>
                          <td class="Plot4a"><a href = "/{{row[7]}}"/><img src ="/{{row[7]}}" width = "200" height = "200" ></td>
                          <td class="Plot4b"><a href = "/{{row[8]}}"/><img src ="/{{row[8]}}" width = "200" height = "200" ></td>
                          <td class="Plot5a"><a href = "/{{row[9]}}"/><img src ="/{{row[9]}}" width = "200" height = "200" ></td>
                          <td class="Plot5b"><a href = "/{{row[10]}}"/><img src ="/{{row[10]}}" width = "200" height = "200" ></td>
                          <td class="Plot6a"><a href = "/{{row[11]}}"/><img src ="/{{row[11]}}" width = "200" height = "200" ></td>
                          <td class="Plot6b"><a href = "/{{row[12]}}"/><img src ="/{{row[12]}}" width = "200" height = "200" ></td>
                          <td class="Plot7"> <h<figure><a href="/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0000_Projection_x_density.png"><img src = "/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0000_Projection_x_density.png" width="200" id=core_proj_follow_c{{row[13]}}></a><figcaption></figcaption></figcaption></figure>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0000_Projection_x_density.png')> n0000 </button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0010_Projection_x_density.png')> n0010 </button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0020_Projection_x_density.png')> n0020</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0030_Projection_x_density.png')> n0030</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0040_Projection_x_density.png')> n0040</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0050_Projection_x_density.png')> n0050</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0060_Projection_x_density.png')> n0060</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0070_Projection_x_density.png')> n0070</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0080_Projection_x_density.png')> n0080</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0090_Projection_x_density.png')> n0090</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0100_Projection_x_density.png')> n0100</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0110_Projection_x_density.png')> n0110</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0118_Projection_x_density.png')> n0118</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0120_Projection_x_density.png')> n0120</button>
                              <button onclick=set_image('core_proj_follow_c{{row[13]}}','/static/Good/Cores/u301/u301_core_zoom_annotate_c{{row[13]}}_n0125_Projection_x_density.png')> n0125</button>
                         </td>
                    </tr>
                    {% endfor %}
                    </tbody>	
            </table>

          <script>
         function unhide(clickedButton, divID) {
                        var item = document.getElementById(divID);
                        if (item) {
                                if(item.className=='hidden'){
                                        item.className = 'unhidden' ;
                                        clickedButton.value = 'hide'
                                }else{
                                        item.className = 'hidden';
                                        clickedButton.value = 'unhide'
                                }
                }}

        $(function () {
            $("input[name=btnCheckBox]").click(function () {
                if ($(this).val() == "Show Data") {
                    $("#checkdiv").show();
                } else {
                    $("#checkdiv").hide();
                }
            });
        });


        $("#selector").click(function () {
            $("#main").toggle();
           // $("p").toggle();
        });


        $('input[type="checkbox"]').click(function () {
            $('#query_table tr > :nth-child(' + $(this).data('column') + ')').toggle(!this.checked)
        });


$(document).ready(function() {
  $(function() {
    $( "#slider-range, #slider-range2" ).slider({
      range: true,
      min: 1000,
      max: 10000,
      values: [ 1000, 10000 ],
      slide: function( event, ui ) {
        // in this function we can define what happens when a user changes the sliders
        $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        
        var table = document.getElementById("query_table");
        for (var i = 1, row; row = table.rows[i]; i++) {
           //iterate through rows (we SKIP the first row: counter starts at 1!)
           for (var j = 0, col; col = row.cells[j]; j++) {
               //iterate through columns: if first column not in range: HIDE, else SHOW
               
               if (j == 1) {             // if second column
                   if ($(col).html() >= ui.values[ 0 ] && $(col).html() <= ui.values[ 1 ]) {
                       // if in interval
                       $(row).show();
                   } else {
                       $(row).hide();
                   }
               }
           }  
        }          
      }
    });
      
    $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  });
});


$(document).ready(function() {
  $(function() {
    $( "#slider-range3, #slider-range4" ).slider({
      range: true,
      min: 1000,
      max: 10000,
      values: [1000, 10000 ],
      slide: function( event, ui ) {
        // in this function we can define what happens when a user changes the sliders
        $( "#amount2" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        
        var table = document.getElementById("query_table");
        for (var i = 1, row; row = table.rows[i]; i++) {
           //iterate through rows (we SKIP the first row: counter starts at 1!)
           for (var j = 0, col; col = row.cells[j]; j++) {
               //iterate through columns: if first column not in range: HIDE, else SHOW
               
               if (j == 2) {             // if third column
                   if ($(col).html() >= ui.values[ 0 ] && $(col).html() <= ui.values[ 1 ]) {
                       // if in interval
                       $(row).show();
                   } else {
                       $(row).hide();
                   }
               }
           }  
        }          
      }
    });
    $( "#amount2" ).val($( "#slider-range3" ).slider( "values", 0 ) +
      " - " + $( "#slider-range3" ).slider( "values", 1 ) );
  });
});


          </script>
    </body>
</html>
