<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title> U303 </title>

		<script src="/static/Good/browser/sorttable.js"></script>
                <script> 
                function set_image(image_id,fname){
                        this_image =     document.getElementById(image_id)
                        this_image.src = fname;
                }
                </script>
		<link rel="stylesheet" href="/static/Good/browser/sorttable.css">
                <style>
                        body {font-family: Arial;}
                        
                        /* Style the tab */
                        .tab {
                          overflow: hidden;
                          border: 1px solid #ccc;
                          background-color: #f1f1f1;
                        }
                        
                        /* Style the buttons inside the tab */
                        .tab button {
                          background-color: inherit;
                          float: left;
                          border: 1px solid #000000;
                          outline: none;
                          cursor: pointer;
                          padding: 14px 16px;
                          transition: 0.3s;
                          font-size: 17px;
                        }
                        
                        /* Change background color of buttons on hover */
                        .tab button:hover {
                          background-color: #ddd;
                        }
                        
                        /* Create an active/current tablink class */
                        .tab button.active {
                          background-color: #ccc;
                        }
                        
                        /* Style the tab content */
                        .tabcontent {
                          display: none;
                          padding: 6px 12px;
                          border: 1px solid #ccc;
                          border-top: none;
                        }
                        </style>

	</head>
	<body>
                <h1>Welcome to U303 Simulations </h1>
                <ul>
                       <li> Please Select Which Plots You Would Like to View! </li>
                       <li style="padding: 0 7em 1em 0"> Once clicked, sort into ascending order as needed </li>
                </ul>
          
          <div class ="tab">
                  <button class="tablinks" onclick="openTable(event, 'Density_Time')"> Density_Time</button>
                  <button class="tablinks" onclick="openTable(event, 'Peak_Projection_X_Density')"> Peak_Projection_x_Density</button>
                  <button class="tablinks" onclick="openTable(event, 'Peak_Split_All_Excluded_Projection_x/y_density')"> Peak_Split_All_Excluded_Projection_Density </button>
                  <button class="tablinks" onclick="openTable(event, 'Peak_Split_Corestack_projection_density')"> Peak_Split_Corestack_Projection_Density </button>
                  <button class="tablinks" onclick="openTable(event, 'Peak_Split_NewClump_Projection_Density')"> Peak_Split_NewClump_Projection_Density </button>
                  <button class="tablinks" onclick="openTable(event, 'Peak_Split_Orig_Projection_Density')"> Peak_Split_Orig_Projection_Density </button>
                  <button class="tablinks" onclick="openTable(event, 'Core_Zoom_Annotate_Projection_X')"> Core_Zoom_Annotate_Projection_X</button>
          </div>
          
          
          <!-- U303 Density_Time Table-->
          <div id="Density_Time" class="tabcontent">
                <table class="sortable" border = "1">
                        <tr>
                                {% for header in headings %}
                                <th>{{header}}</th>
                                {% endfor %}
                        </tr>
			{% for row in data15 %}
                        <tr>
				<td>{{row[1]}}</td>
                                <td><a href="/{{row[0]}}"/><img src = "/{{row[0]}}"></td>
			</tr>
			{% endfor %}	
		</table>
           </div>
        
           <!-- U303 Projection_x_density table-->
           
           <div id ="Peak_Projection_X_Density" class="tabcontent">
                 <table class="sortable" border = "1">
                        <tr>
                                {% for header in headings1 %}  
                                <th> {{header}}</th> 
                                {% endfor %}           
                        </tr>
                        {% for row in data16_every2 %}
                        <tr>
                                <td>{{row[1]}}</td>
                                <td><a href="/{{row[0]}}"/><img src = "/{{row[0]}}" width="600" height="500"></td>
                        </tr>
                        {% endfor %}
                 </table>
           </div>
        
        <!--  U303 Peak Split All Table     -->
        
        <div id ="Peak_Split_All_Excluded_Projection_x/y_density" class = "tabcontent">
                <table style="float:left;" class = "sortable" border = "1">
                        <tr>
                                {% for header in headings2_x %}
                                <th>{{header}} </th>
                                {% endfor %}
                        </tr>
                        {% for row in data17 %}
                        <tr>
                                <td width="125">{{row[2]}}</td>
                                <td><a href = "/{{row[0]}}"/><img src = "/{{row[0]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
                <table class = "sortable" border = "1">
                        <tr>
                                {% for header in headings2_y %}
                                <th>{{header}} </th>
                                {% endfor %}
                        </tr>
                        {% for row in data17 %}
                        <tr>
                                <td width="125">{{row[3]}}</td>
                                <td> <a href = "/{{row[1]}}"/><img src = "/{{row[1]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
        <!--    U303 peak_split_corestack-->
        <div id = "Peak_Split_Corestack_projection_density" class = "tabcontent">
                <table style="float:left;" class = "sortable" border = "1">
                        <tr>
                                {% for header in headings3_x %}
                                <th> {{header}}</th>
                                {% endfor %}
                        </tr>
                        {% for row in data18 %}
                        <tr>
                                <td width="125"> {{row[2]}}</td>
                                <td><a href = "/{{row[0]}}"/><img src ="/{{row[0]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
                <table class = "sortable" border = "1">
                        <tr>
                                {% for header in headings3_y %}
                                <th> {{header}}</th>
                                {% endfor %}
                        </tr>
                        {% for row in data18 %}
                        <tr>
                                <td width="125"> {{row[3]}}</td>
                                <td><a href = "/{{row[1]}}"/><img src ="/{{row[1]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
        <!--     U303 Peak_split_newclump table-->
        <div id ="Peak_Split_NewClump_Projection_Density" class = "tabcontent">
                <table style="float:left;" class = "sortable" border ="1">
                        <tr>
                                {% for header in headings4_x %}
                                <th> {{header}} </th>
                                {% endfor %}
                        </tr>
                        {% for row in data19 %}
                        <tr>
                                <td width="125"> {{row[2]}}</td>
                                <td><a href = "/{{row[0]}}"/><img src ="/{{row[0]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
                <table class = "sortable" border ="1">
                        <tr>
                                {% for header in headings4_y %}
                                <th> {{header}} </th>
                                {% endfor %}
                        </tr>
                        {% for row in data19 %}
                        <tr>
                                <td width="125"> {{row[3]}}</td>
                                <td><a href = "/{{row[1]}}"/><img src ="/{{row[1]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>
        
        <!-- U303 Peak_Split_Orig table-->
        <div id = "Peak_Split_Orig_Projection_Density" class = "tabcontent">
                <table style="float:left;" class = "sortable" border = "1">
                        <tr>
                                {% for header in headings5_x %}
                                <th> {{header}}</th>
                                {% endfor %}
                        </tr>
                        {% for row in data20 %}
                        <tr>
                                <td width="125"> {{row[2]}}</td>
                                <td><a href = "/{{row[0]}}"/><img src = "/{{row[0]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
                <table class = "sortable" border = "1">
                        <tr>
                                {% for header in headings5_y %}
                                <th> {{header}}</th>
                                {% endfor %}
                        </tr>
                        {% for row in data20 %}
                        <tr>
                                <td width="125"> {{row[3]}}</td>
                                <td><a href = "/{{row[1]}}"/><img src = "/{{row[1]}}" width = "550" height = "500"></td>
                        </tr>
                        {% endfor %}
                </table>
        </div>

        
           <!--- U303 Core_Zoom_Annotate table-->
           
           <div id ="Core_Zoom_Annotate_Projection_X" class = "tabcontent">
                   <table class="sortable" border = "1">
                       <p> Some Cores Dont Have all of the n{...} Simulations, Image will Not Appear If Thats the Case</p>    
                           <tr>
                                   {% for header in headings6 %}  
                                   <th> {{header}}</th> 
                                   {% endfor %}           
                           </tr>
                           {% for row in data21_every14 %}
                           <tr>
                                   <td>{{row[1]}}</td>
                                   <td><a h<figure><a href="/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0000_Projection_x_density.png"><img src = "/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0000_Projection_x_density.png" width="600" id=core_proj_follow_c{{row[1]}}></a><figcaption></figcaption></figcaption></figure>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0000_Projection_x_density.png')> n0000 </button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0010_Projection_x_density.png')> n0010 </button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0020_Projection_x_density.png')> n0020</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0030_Projection_x_density.png')> n0030</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0040_Projection_x_density.png')> n0040</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0050_Projection_x_density.png')> n0050</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0060_Projection_x_density.png')> n0060</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0070_Projection_x_density.png')> n0070</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0080_Projection_x_density.png')> n0080</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0090_Projection_x_density.png')> n0090</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0100_Projection_x_density.png')> n0100</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0110_Projection_x_density.png')> n0110</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0118_Projection_x_density.png')> n0118</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0120_Projection_x_density.png')> n0120</button>
                                        <button onclick=set_image('core_proj_follow_c{{row[1]}}','/static/Good/Cores/u303/u303_core_zoom_annotate_c{{row[1]}}_n0125_Projection_x_density.png')> n0125</button>
                                   </td>
                          </tr>
                        {% endfor %}
                   </table>
           </div>
        
        <script>
        function openTable(evt, TableName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(TableName).style.display = "block";
                evt.currentTarget.className += " active";
        }
        </script>

	</body>
</html>